body {
  font-family: "Mont";
}
.error{
  font-size: 15px;
  color: #fe7831;
  font-family: "Mont";

}
.contact-us {
  font-family: "Ethnocentric";
  font-weight: 400;
  font-size: 40px;
  color: #e5e4e4;
  margin: 0px;
}

.help-text-heading {
  font-family: "Ethnocentric";
  font-weight: 400;
  font-size: 32px;
  margin: 0px;
  background: linear-gradient(
    180deg,
    #6f6f6f 1.04%,
    #a9a9a9 35.94%,
    #a9a9a9 59.9%,
    #6f6f6f 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.help-text {
  font-weight: 600;
  font-size: 20px;
  color: #f5f5f5;
  margin: 0px;
}

.contact-us-form {
  padding: 0px;
  .feild-view {
    margin-bottom: 65px;

    .label {
      display: flex;

      font-weight: 700;
      font-size: 24px;
      color: #f5f5f5;

      .star {
        font-weight: 700;
        font-size: 24px;
        color: #fe7831;
      }
    }

    input {
      width: 100%;
      height: 60px;
      background-color: #f5f5f5;
      border-radius: 5px;
    }

    textarea {
      width: 100%;
      height: 268px;
      background-color: #f5f5f5;
      border-radius: 5px;
    }
  }

  .check-box-view {
    p {
      font-weight: 700;
      font-size: 20px;
      color: #f5f5f5;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
  }

  img {
    width: 100%;
    height: 76px;
    margin-top: 28px;
  }
}

.contact-us-info {
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bold-heading {
    font-family: "Ethnocentric";
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 30px 0;
    color: #fe7831;
  }

  .light-text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 0 0 100px 0;
    width: 90%;
    color: #3f3636;
  }
}

@media screen and (max-width: 990px) {
  .contact-us {
    font-size: 30px;
  }
  .help-text-heading {
    font-size: 22px;
    padding-top: 30px !important;
  }

  .help-text {
    padding-bottom: 30px !important;
  }

  .contact-us-form {
    .feild-view {
      .label {
        font-size: 18px;
      }
    }
    .check-box-view {
      p {
        font-weight: 600;
        font-size: 14px;
      }
      input[type="checkbox"] {
        width: 15px;
        height: 15px;
      }
    }

    img {
      height: 47px;
      margin: 50px 0 50px 0;
    }
  }
  .contact-us-info {
    padding: 100px 0 100px 0;
    .bold-heading {
      font-size: 18px;
      margin: 0 0 10px 0;
    }

    .light-text {
      color: #3f3636;
      font-size: 16px;
      margin: 0 0 40px 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .contact-us {
    font-size: 20px;
  }
  .help-text-heading {
    font-size: 14px;
    padding-top: 16px !important;
  }

  .help-text {
    font-size: 12px;
    padding-bottom: 18px !important;
  }

  .contact-us-form {
    .feild-view {
      .label {
        font-size: 16px;
      }
    }
    .check-box-view {
      p {
        font-weight: 600;
        font-size: 11px;
      }
      input[type="checkbox"] {
        width: 10px;
        height: 10px;
      }
    }

    img {
      height: 47px;
      margin: 50px 0 50px 0;
    }
  }
  .contact-us-info {
    padding: 100px 0 100px 0;
    .bold-heading {
      font-size: 16px;
      margin: 0 0 10px 0;
    }

    .light-text {
      color: #3f3636;
      font-size: 14px;
      margin: 0 0 40px 0;
    }
  }
}
