.faq-heading{
  font-family: "Ethnocentric";
  font-weight: 400;
  font-size: 40px;
  color: #e5e4e4;
  margin: 0px;
  display: block;
  

}
.faq-heading-2{
  font-family: 'Ethnocentric';
  font-weight: 400;
  font-size: 14px;
  color: #E5E4E4;
  display: none;
  text-align: center;
  margin: 0px;
}
.faq-short{
  font-family: 'Ethnocentric';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 20px 0;
  line-height: 24px;
  display: none;  
  color: #E5E4E4;

}

.faq-help-text{
  display: none;
  font-family: 'Ethnocentric';
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  margin: 0 0 20px 0;
  background: linear-gradient(180deg, #6F6F6F 1.04%, #A9A9A9 35.94%, #A9A9A9 59.9%, #6F6F6F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.faq-paragraph-text{
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  padding-bottom: 80px;
  color: #e5e4e4;
  margin: 0px;
  @media screen and (max-width: 500px) {
    font-size: 12px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 500px) and (max-width: 990px) {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.faqConatiner {
  display: flex;
  padding: 52px;
  width: 100%;
  justify-content: space-between;
  height: 1186.688%;
  background: #f5f5f5;
  border-radius: 3px;
  margin-bottom: 30px;
}
.faqAnswerConatiner {
  font-family: "Ethnocentric";
  padding: 52px;
  margin-top: -23px;
  width: 100%;
  height: 1186.688%;
  background: #f5f5f5;
  color: black;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  border-radius: 3px;
  margin-bottom: 30px;
  @media only screen and (max-width: 500px) {
    font-size: 17px;
    padding:25px;
    
  }
}

.faqQuestions {
  font-family: "Ethnocentric";
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  width: 90%;
  margin: 0px;
  color: #3f3636;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.line {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(255, 255, 255);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f8f8f8;
  resize: none;
}

textarea:focus {
  background-color: rgb(255, 255, 255);
  border: #ccc;
}

input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-control:focus {
  box-shadow: none;
}

.input-flex {
  display: flex;
}

input[type="text"]:focus {
  background-color: rgb(255, 255, 255);
}

.form-group {
  width: 100%;
}

.required:after {
  content: " *";
  color: rgb(245, 160, 48);
}

.Slider-Area {

  background-image: url("../../assets/img/Background/footerbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .slider-btn {
    display: flex;
    flex-direction: row;

    img {
      width: 38px;
      height: 38px;
    }
  }
}

@media only screen and (max-width: 990px) {
  .faq-heading{
    display: none;
  }
  .faq-heading-2{
    display: block;
    padding-bottom: 30px;
  }
  .faq-short{
    display: block;
  }
  .faq-help-text{
    display: block;
  }
  .faqConatiner {
    display: flex;
    padding: 15px;
    width: 100%;
    height: 74px;
    background: #f5f5f5;
    border-radius: 3px;
  }

  .faqQuestions {
    font-family: "Ethnocentric";
    font-weight: 400;
    line-height: 16px;
    font-size: 16px;
    margin: 0px;
    color: #3f3636;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type="text"] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .input-flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .faq-heading{
   
    display: none;
  }
  .faq-heading-2{
    display: block;
    padding-bottom: 30px;
  }
  .faq-short{
    display: block;
  }
  .faq-help-text{
    display: block;
  }

  .faqConatiner {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 74px;
    background: #f5f5f5;
    border-radius: 3px;
  }

  .faqQuestions {
    font-family: "Ethnocentric";
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    margin: 0px;
    color: #3f3636;
  }
}

.dropdown-arrow {
  width: 20px;
  height: 14px;

  @media only screen and (max-width: 500px) {
    width: 8px;
    height: 6px;
  }
}
