/*------ 25. My account Page  ------*/


.myaccount-wrapper{

.account-header-text{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom:30px; 
  text-align: center;

}
.single-my-account {
  margin-bottom: 20px;
  border: none;
  .panel-heading {
    padding: 0;
    border: none;
    & > button {
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      padding: 0;
    }
  }
  .card-body {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-top: 1px;
    overflow: auto;

  table{
    .Table-Heading{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      width: 200px;
      border-bottom: 2px solid #D9D5EC;
      border-top: none;
    }
    .Table-Heading-red{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      text-align: center;
      width: 200px;
      line-height: 15px;
      border-bottom: 2px solid #D9D5EC;
      border-top: none;
      text-transform: uppercase;
      color: #DA1100;
    }
    .Table-Body{
      border-bottom: 1px solid #D9D5EC;
        .Table-Body-items{
          border-top: none;
          max-width: 75px;
          text-align: center;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          color: #000000;
          font-size: 10px;
          line-height: 15px;
        }
        .Table-Body-items-red{
          border-top: none;
          max-width: 75px;
          text-align: center;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 15px;
          color: #DA1100;
          text-decoration: underline;
        }
    }

  }
  }
 
  h3.panel-title {
    background-color: #E4E4E4;
    // border-bottom: 1px solid #CED4DA;
    font-family: 'Poppins';
    font-weight: 400;
    height: 36px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #495057;
    display: block;
    padding: 6px 12px;
    position: relative;
    @media #{$xs-layout} {
      line-height: 22px;
      font-size: 14px;
      padding-top: 8px;
    }
    
    // &:hover {
    //   color: $theme-color;
    // }
    &::before {
      color: #000;
      content: "\f107";
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 6px;
    }
    // &:hover::before {
    //   color: $theme-color;
    // }

  }
  .panel-title2{
    background-color: #E4E4E4;
    h3{
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #495057;
    }
    .RedCircleImg{
      width: 24px;
      height: 24px;
      margin-left: 6px;
    }
    height: 36px;
    border-radius: 5px;
    margin: 0;
    padding: 6px 12px;
    @media #{$xs-layout} {
      line-height: 22px;
      font-size: 14px;
      padding-top: 8px;
    }
    &::before {
      color: #000;
      content: "\f107";
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }
 
  .myaccount-info-wrapper {
    padding: 30px 20px;
    background-color: #fff;
    .account-info-wrapper {
      h4 {
        font-size: 15px;
        margin: 0;
        text-transform: uppercase;
      }
      h5 {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 7px;
      }
    }
    .billing-info {
      margin-bottom: 20px;
      label {
        color: #000;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      input {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #CED4DA;
        color: #000;
        height: 30px;
        border-radius: 5px;
        padding: 0 15px;
      }
    }
    .billing-back-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      align-items: center;
      .billing-back {
        a {
          color: #000;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          // &:hover {
          //   color: $theme-color;
          // }
          i {
            font-size: 16px;
            color: $theme-color;
          }
        }
      }
      .billing-btn {
        button {
          background-color: rgba(41, 41, 41, 1);
          border: none;
          border-radius: 5px;
          width: 130px;
          height: 46px;
          color: white;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

  }

}
}

