.heading-text {
    font-family: 'Ethnocentric';
    font-style: normal;
    padding: 8px;
    font-weight: 400;
    font-size: 40px;
    color: #E5E4E4;
    line-height: 48px;
}

.subheading-text {
    font-family: 'Ethnocentric';
    font-style: normal;
    padding: 8px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
    color: rgba(245, 245, 245, 1);
}

.genderLabel {
    text-decoration: underline;
}

.paragraph-text {
    font-family: 'Mont';
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.44px;
    color: rgba(245, 245, 245, 1);
}

.paragraph-text::before {
    content: "\a";
    white-space: pre;
}

.points-text {
    font-family: 'Mont';
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.65px;
    color: rgba(245, 245, 245, 1);
}

.points-text::before {
    content: "\a";
    white-space: pre;
}

.subheading-text::after {
    content: "\a";
    white-space: pre;
}

.subparagraph-text {
    font-family: 'Mont';
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26.2px;
    color: rgb(255, 255, 255);

}

p {
    text-align: justify;
    text-justify: inter-word;
}

.line {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: relative;
}

.services-heading-text {
    font-family: 'Ethnocentric';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FE7831;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
    align-items: center;
    text-align: center;
}

.sizeStandards {
    font-family: 'Ethnocentric';
    font-style: normal;
    padding: 8px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48.4px;
    color: #FE7831;
}

table {
    border: 1px;
    width: 100%;
    text-align: center;
}

td {
    font-family: 'Mont';
    padding: 0px;
    padding-left: 30px;
    padding-right: 8px;
    padding-top: 30px;
    margin: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 26.2px;
    color: #E5E4E4;
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    resize: none;
}

textarea:focus {
    background-color: rgb(255, 255, 255);
    border: #ccc;
}

input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-control:focus {
    box-shadow: none;
}

.input-flex {
    display: flex;
}

input[type=text]:focus {
    background-color: rgb(255, 255, 255);
}

.form-group {
    width: 100%;
}

.required:after {
    content: " *";
    color: rgb(245, 160, 48);
}

ul {
    list-style-type: disc;
}

.Slider-Area {
    background-image: url("../../assets/img/Background/footerbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .slider-btn {
        display: flex;
        flex-direction: row;

        img {
            width: 38px;
            height: 38px;

        }
    }
}

@media only screen and (max-width: 481px) {
    .heading-text {
        font-family: 'Ethnocentric';
        font-style: normal;
        padding: 8px;
        font-weight: 400;
        font-size: 20px;
        color: #E5E4E4;
        line-height: 24px;
    }

    .subheading-text {
        font-family: 'Ethnocentric';
        font-style: normal;
        padding: 8px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #E5E4E4;
    }

    .paragraph-text {
        font-family: 'Mont';
        padding: 0px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        margin: 0px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #E5E4E4;
    }

    .points-text {
        font-family: 'Mont';
        padding: 0px;
        padding-left: 8px;
        padding-right: 8px;
        //padding-top: 3px;
        margin: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #E5E4E4;
    }

    .subparagraph-text {
        font-family: 'Mont';
        padding: 0px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        margin: 0px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #E5E4E4;

    }

    .services-heading-text {
        font-family: 'Ethnocentric';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FE7831;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        line-height: 150%;
        align-items: center;
        text-align: center;
        display: flex;
    }

    .sizeStandards {
        font-family: 'Ethnocentric';
        font-style: normal;
        padding: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FE7831;
        align-items: center;
        text-align: center;
    }

    table {
        border: 1px;
        width: 100%;
        text-align: center;
    }

    td {
        font-family: 'Mont';
        padding: 0px;
        padding-right: 8px;
        padding-top: 30px;
        margin: 0px;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #E5E4E4;
    }

    textarea {
        width: 100%;
        height: 200px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f8f8f8;
        resize: none;
    }

    input[type=text] {
        width: 100%;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .input-flex {
        flex-direction: column;
    }

    .container {
        padding-top: 10px;
    }
}