
@media screen and (min-width: 992px) { 
    .large-view-container {
      padding-left: 100px; 
    }
}

@media (max-width:768px){
.main-heading.sytle-2 h2 {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111;
    line-height: 20px;
    font-size: 22px;
    }

}
.main-heading-holder {
    text-align: center;
    padding-bottom: 0;
    padding-top: 30px;
    float: left;
    width: 100%;
}
.main-heading {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
}
.main-heading.sytle-2 h2::before, .main-heading.sytle-2 h2::after {
    content: "";
    width: 86px;
    top: 50%;
    position: absolute;
    border-bottom: 4px solid #1b73cd;
}
.main-heading.sytle-2 h2::before {
    right: 100%;
}
.main-heading.sytle-2 h2::after {
    left: 100%;
}
.main-heading.sytle-2 h2 {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111;
    line-height: 21px;
    font-size: 30px;
}